body {
    font-family: sans-serif;
}

h1{

}
header  {
  background-image: linear-gradient(to right, rgb(250, 192, 3), rgb(111, 0, 255)); 
  height: 90px; 

}

header a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

footer img {
  box-shadow: 10px 10px 10px black;
}
